<div class="" ng-if="isGoalsViewable">
<article class="clearfix" ng-controller="goalsFilterController">
			<article class="pull-right height-25">
	       		<span style="top:20px;"ng-if="isGoalsEditable" class="btn btn-success fileinput-button btn-org" ng-class="{disabled: disabled, notvisible:fileUploadDone==true}">
		       		  <a ng-if="isGoalsEditable" href="#"  name="modal" title="Edit" data-modal="#addGoalsDialog" class="editleft" ng-click="getGridData()">Update Target</a>
	        	</span>
            </article>
            <article class="pull-right height-25">
            <select ng-init="selectedYear=year" ng-model="selectedYear" ng-options="yearList as yearList for yearList in yearList" ng-change = "setSelectedYear()"></select>
				 <!-- <select >
				  <option ng-repeat = "data in yearList">{{data}}</option>
				</select> -->
            </article>
           
		</article>

	<div class="ContainerBox decision-option">
		<article class="title_panel clearfix">
			<p class="pull-left">
				<span>Business Metrics</span>
			</p>
		</article>
		<div class="review-panel" ng-controller="businessImpactTargetController">
		<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
			<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
			<div class="dataTables_wrapper review-panel">
				<script type="text/ng-template" id="tree_node">
       			 <tr tt-node is-branch="node.children != null && node.children.length != 0">
            		<td><span ng-bind="node.rangeId"></span></td>
            		<td ng-bind="node.revenue"></td>
            		<td ng-bind="node.newSubscribers"></td>
					<td ng-bind="node.registrations"></td>
					<td ng-bind="node.arpu"></td>
					<td ng-bind="node.netNewSubscribers"></td>
					<td ng-bind="node.cancels"></td>
					<td ng-bind="node.uniqueVisitors"></td>
       			 </tr>
    			</script>
    			<div ng-if="goalsSubmitError" class="alert alert-danger" role="alert">Alert</div>
    			<div ng-if="goalsSubmitSuccess" class="alert alert-success" role="alert">Alert</div>
				<table ng-hide="error || !dataLoaded" id='goalsTable' tt-table tt-params="goalValues"
					class="GDtable ng-isolate-scope dataTable display"
					data-options="pagination: true">
					<colgroup>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
					</colgroup>
					<thead class="ng-scope">
						<tr role="row">
							<th class="">Time</th>
							<th class="">Revenue</th>
							<th class="">New Subscribers</th>
							<th class="">Registrations</th>
							<th class="">ARPU</th>
							<th class="">Net New Subscribers</th>
							<th class="">Cancels</th>
							<th class="">Unique Visitors</th>
						</tr>
					</thead>

				</table>
				<div class="dataTables_wrapper center">
					<!-- <div class="dataTables_paginate paging_simple_numbers"
						id="DataTables_Table_0_paginate">
						<a class="paginate_button previous">Previous</a> <a
							class="paginate_button current">1</a> <a
							class="paginate_button next">Next</a>
					</div> -->
					<div></div>
				</div>
			</div>
			
		</div>
	</div>
		<div class="ContainerBox decision-option">
		<article class="title_panel clearfix">
			<p class="pull-left">
				<span>Engagement Activity</span>
			</p>
		</article>
		<div class="review-panel" ng-controller="EngagementActivityTargetController">
		<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
			<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
			<div class="dataTables_wrapper review-panel">
				<script type="text/ng-template" id="EA_tree_node">
       			 <tr tt-node is-branch="node.children != null && node.children.length != 0">
            		<td><span ng-bind="node.rangeId"></span>{{node.rangeId}}</td>
            		<td ng-bind="node.eaScore"></td>
            		<td ng-bind="node.sendArchives"></td>
					<td ng-bind="node.sendVideo"></td>
					<td ng-bind="node.sendAudio"></td>
					<td ng-bind="node.sendPdf"></td>
					<td ng-bind="node.multiAppUsers"></td>
					<td ng-bind="node.workSpaceShare"></td>	
					<td ng-bind="node.premiumDelivery"></td>	
       			 </tr>
    			</script>
    			<div ng-if="goalsSubmitError" class="alert alert-danger" role="alert">Alert</div>
    			<div ng-if="goalsSubmitSuccess" class="alert alert-success" role="alert">Alert</div>
				<table ng-hide="error || !dataLoaded" id='goalsTable' tt-table tt-params="goalValues"
					class="GDtable ng-isolate-scope dataTable display"
					data-options="pagination: true">
					<colgroup>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
					</colgroup>
					<thead class="ng-scope">
						<tr role="row">
							<th class="">Time</th>
							<th class="">EA Score</th>
							<th class="">Send Archives</th>
							<th class="">Send Video</th>
							<th class="">Send Audio</th>
							<th class="">Send Pdf</th>
							<th class="">Multi App Users</th>
							<th class="">Work Space Share</th>
							<th class="">Premium Delivery</th>
						</tr>
					</thead>

				</table>
				<div class="dataTables_wrapper center">
					<div></div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div id="boxes" ng-controller="goalsModalController" ng-if="isGoalsViewable">
	<form name="editGoalsForm">
		<div id="editGoalsDialog" class="window small-window">
			<div class="modalheading">
				<h2>Edit Goal</h2>
				<a href="#" class="close"></a>
			</div>
		<div class="modalcontent">
			<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
			<div>
				<div class="formgroup">
					<label class="rmargin">Time</label> <input type="text" ng-model = "time"/>
				</div>
				<div class="formgroup">
					<label class="rmargin">Recurring Booking</label> <input type="number" ng-model = "revenue"/>
				</div>
				<div class="formgroup">
					<label class="rmargin">New Subs</label> <input type="number" ng-model = "NPU"/>
				</div>
				<div class="formgroup">
					<label class="rmargin">Conversion Rate </label> <input type="text" ng-model = "conversionRate"/>
				</div>
				<div class="formgroup">
					<label class="rmargin">Registrations</label> <input type="number" ng-model = "newSignUp"/>
				</div>
				<div class="formgroup">
					<label class="rmargin"> Page Views</label> <input type="number" ng-model = "pageView"/>
				</div>
				<ng-include src="'partials/alertMessage.htm'"></ng-include>
				<div class="formgroup">
					<label class="rmargin">&nbsp;</label>
					 <input type="submit" value="Save" ng-disabled="savingGoals" ng-class="{spinnerButton: savingGoals==true}"
					 ng-click ="editGoalsSave()"class="btn btn-org rmargin" href="#">
					  <input type="button" value="Cancel" class="btn btn-org cancel" href="#">
				</div>
			</div>
			</div>
	</div> 
		
				
	</form>
	<div id="addGoalsDialog" class="window grid-window">
			<div class="modalheading">
				<h2>Update Target</h2>
				<a href="#" class="close"></a>
			</div>
		<div class="modalcontent">
		<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
		<div ng-if="!error">
				<hot-table
					settings="{colHeaders:colHeaders, contextMenu: ['row_above', 'row_below', 'remove_row'],beforeRender:$scope.beforeRender,afterRender:$scope.afterRender,modifyColWidth:$scope.modifyColWidth}"
					rowHeaders="false"
					datarows="items"
					height="450">
					<hot-column data="rangeId"  title="'Time Periods'" readOnly width="100" class="row-color"></hot-column>
					<hot-column data="startDate"    title="'Start Date'"  type="grayedOut"  readOnly width="100"></hot-column>
					<hot-column data="endDate"      title="'End Date'"   type="grayedOut"  readOnly width="100"></hot-column>
					<hot-column data="revenue"      title="'Revenue'"  type="'numeric'" width="100"></hot-column>
					<hot-column data="newSubscribers" title="'New Subscribers'" type="'numeric'" width="100" ></hot-column>
					<hot-column data="registrations"  title="'Registrations'"     type="'numeric'"  width="80"></hot-column>
					<hot-column data="netNewSubscribers" title="'Net New Subscribers'" type="'numeric'" width="120"></hot-column>
					<hot-column data="arpu" title="'ARPU'"     type="'numeric'"  width="155"></hot-column>
					<hot-column data="engScore"  title="'EA Score'"     type="'numeric'"  width="120"></hot-column>
					<hot-column data="sendArchives" title="'Send Archives'"     type="'numeric'"  width="95"></hot-column>
					<hot-column data="sendVideo"  title="'Send Video'"     type="'numeric'"  width="90"></hot-column>
					<hot-column data="multipleAppUsers" title="'Multiple App Users'"     type="'numeric'"  width="130"></hot-column>
					<hot-column data="sendAudio"  title="'Send Audio'"     type="'numeric'"  width="80"></hot-column>
					<hot-column data="sendPdf"   title="'Send PDF'"     type="'numeric'"  width="80"></hot-column>
					<hot-column data="workSpaceShare" title="'Work Space Share'"     type="'numeric'"  width="130"></hot-column>
				
				</hot-table>
			</div>	
			<div class="formgroup">
			<div ng-if="!isValid" class="alert alert-danger" role="alert">Invalid values.</div>
				 <input type="submit" value="Save" ng-disabled="" ng-click="saveTargetGrid()"
					 class="btn btn-org saveTemplate" href="#">
			</div>
		</div>
	</div> 
	<div id="mask"></div>
	<div ng-hide ng-controller="goalsInit"></div>
</div>
