<div>
<div class="ContainerBox" ng-controller="dateConfigController" ng-if="false">
		<article class="title_panel clearfix">
			<p class="pull-left">
				<span>Date Configuration</span>
			</p>
		</article>
		<div class="half-content">
			<label for="dateConfig">Date </label>
			<div class="datevalues-audit"><input type="text" placeholder="MM/DD/YYYY" id="dateConfig"
				ng-model="selectedDate" datepicker />
				</div>
		</div>
				<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
		<a class="btn btn-org btn1" ng-click="saveDate()">Save</a>
	</div>
	<div class="ContainerBox decision-option" ng-controller="labelConfigController" >
		<article class="title_panel clearfix">
			<p class="pull-left">
				<span>Label Configuration</span>
			</p>
		</article>
		<div class="review-panel">
			<div class="dataTables_wrapper review-panel">
				<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
				<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
				<column-browser id="column" init-url='app/Settings/structure.json' on-selected="itemSelected">
				</column-browser>
				<div id="editLabel"></div>
				<table id="editLabelTable"ng-hide="error || !dataLoaded"
					class="GDtable dataTable log-details"
					options="options">
					<colgroup>
						<col>
						<col>
					</colgroup>
					<thead class="ng-scope">
						<tr role="row">
							<th class="">Description</th>
							<th class="">Default Name</th>
							<th class="">Explicit Name</th>
						</tr>
					</thead>
					<tbody>
					<tr ng-repeat = "data in labelPaths track by $index">
					<td>{{labelPaths[$index]}}</td>
					<td>{{defaultNames[$index]}}</td>
					<td><input class="editable" ng-model="explicitNames[$index]" type ="text"></td>
					</tr>
					</tbody>					
				</table>
				 <input type="submit" value="Save" class="btn btn-org edit_save" href="#" ng-click="saveLabel()"> 
				<a href="#" class="zoomThis"></a>
			</div>
		</div>
	</div>
</div>
<div ng-hide ng-controller="labelConfigInit"></div>
<!-------------------------->
