<div class="clearfix" ng-if="isModelsViewable">
	<div class="ContainerBox decision-option">
		<article class="title_panel clearfix">
			<p class="pull-left heading">
				<span> Upload Models </span>
			</p>
		</article>

		<div class="clearfix" ng-controller="uploadModelsController" >
			<a ng-if="isModelsEditable" class="addDialog btn btn-org pull-right zmargin" name="modal"
				href="#" data-modal="#addModelDialog">Add</a>
			<div class="dataTables_wrapper review-panel clearfix">
				<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
				<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
				<div ng-if="modelSubmitError" class="alert alert-danger"
					role="alert">Alert</div>
				<div ng-if="modelSubmitSuccess" class="alert alert-success"
					role="alert">Alert</div>
				<table ng-hide="error || !dataLoaded"
					class="GDtable dataTable upload-models" my-table options="options"
					table-data="modelHistory">
					<colgroup>
						<col>
						<col>
						<col>
						<col>
						<col>
					</colgroup>
					<thead class="">
						<tr role="row">
							<th class="">S.No.</th>
							<th class="">Model/ Algorithm Name</th>
							<th class="">Model Details</th>
							<th class="">Version</th>
							<th class="">Select</th>
						</tr>
					</thead>
				</table>
				<a href="#" class="zoomThis"></a>
			</div>
		</div>
	</div>
	<div class="ContainerBox decision-option">
		<article class="title_panel clearfix">
			<p class="pull-left heading">
				<span> View Models </span>
			</p>
		</article>
		<div class="review-panel" ng-controller="viewModelsController" ng-if="isModelsViewable">
			<div class="review-panel">
				<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
				<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
				<table ng-hide="error || !dataLoaded"
					class="GDtable dataTable view-models" my-table options="options">
					<colgroup>
						<col>
						<col>
						<col>
						<col>
						<col>
					</colgroup>
					<thead class="">
						<tr role="row">
							<th class="">SNO</th>
							<th class="">Model/ Algorithm Name</th>
							<th class="">Model Details</th>
							<th class="">Version</th>
							<th class="">Download Option</th>
						</tr>
					</thead>
				</table>
				<a href="#" class="zoomThis"></a>
			</div>
		</div>
	</div>
</div>



<div id="boxes" ng-controller="modelsModalController" ng-if="isModelsViewable">
	<form method="POST" name="modelsUploadForm" fileUpload data-file-upload="options" enctype="multipart/form-data" ng-submit="submit()">
		<div id="addModelDialog" class="window small-window">
			<div class="modalheading">
				<h2>Add Models</h2>
				<a href="#" class="close"></a>
			</div>
			<div class="modalcontent">
				<div class="formgroup">
					<label class="rmargin">Model/ Algorithm Name</label> <input
						type="text" ng-model="modelName" required disabled/>
				</div>
				<div class="formgroup">
					<label class="rmargin">Model Details</label> <select required ng-model="selectedModelDetail"
						ng-options="allModelDetails as allModelDetails for allModelDetails in allModelDetails"></select>
				</div>
				<div class="formgroup chooseFile">
					<label class="rmargin">Select File</label>
                    <span  class="btn btn-success fileinput-button btn-org" ng-class="{disabled: disabled}">
    	                <span>Upload File</span>
                            <input type="file" name="modelFile" multiple="" ng-disabled="disabled">
                        </span><span class='fileName'>{{fileName}}</span>
                    <span class="fileupload-process"></span>
				</div>
				<ng-include src="'partials/alertMessage.htm'"></ng-include>
				<div class="formgroup">
					<label class="rmargin">&nbsp;</label> 
                    <input type="submit" ng-disabled=uploadingModels ng-class="{spinnerButton: uploadingModels==true}" value="Validate & Upload" class="btn btn-org rmargin"  /> 
                    <input type="button" value="Cancel"	class="btn btn-org cancel" href="#" />
				</div>
			</div>
		</div>
	</form>
	<div ng-hide ng-controller="modelsInit"></div>
	<div id="mask"></div>
</div>
<div id="boxes">
	<div id="tableZoom" class="window">
		<div class="modalheading">
			<h2 id="h2"></h2>
			<a href="#" class="close"></a>
		</div>
		<div class="modalcontent"></div>
	</div>
</div>
