<div class="clearfix" ng-if="isUsersViewable">
	<div class="ContainerBox decision-option">
		<article class="title_panel clearfix">
			<p class="pull-left heading">
				<span> User List </span>
			</p>
		</article>

		<div class="review-panel" ng-controller="usersListController">
		<div ng-if="isUsersEditable" class="clearfix clearboth">
					<a class="btn btn-org pull-right lmargin" name="modal"
						data-modal="#addUsersDialog">Add</a>
				</div>
			<div class="review-panel">
				<div class="dataTableContainer">
					<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
					<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
					<div ng-if="userListSubmitError" class="alert alert-danger"
						role="alert">Alert</div>
					<div ng-if="userListSubmitSuccess" class="alert alert-success"
						role="alert">Alert</div>
					<table ng-hide="error || !dataLoaded" class="GDtable dataTable"
						my-table options="options">
						<colgroup>
							<col>
							<col>
							<col>
							<col>
							<col>
							<col>
						</colgroup>
						<thead class="ng-scope">
							<tr role="row">
								<th class="">User Name </th>
								<th class="">First Name</th>
								<th class="">Last Name</th>
								<th class="">Email ID</th>
								<th class="">Department</th>
								<th class="">Role</th>
								<th class="" width="100">Actions</th>
							</tr>
						</thead>
					</table>
					<a href="#" class="zoomThis"></a>
				</div>
				<div></div>
			</div>
		</div>
	</div>
	<div class="ContainerBox decision-option"
		ng-controller="rolesListController">
		<article class="title_panel clearfix">
			<p class="pull-left heading">
				<span> Role List </span>
			</p>
		</article>

				<div class="center">
					<div ng-if="isUsersEditable" class="clearfix clearboth">
						<a class="btn btn-org pull-right lmargin" name="modal" href="#"
							data-modal="#addRoleDialog">Add</a>
					</div>
				</div>
			<div class="review-panel">
			
				<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
				<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
				<div ng-if="userRoleSubmitError" class="alert alert-danger"
					role="alert">Alert</div>
				<div ng-if="userRoleSubmitSuccess" class="alert alert-success"
					role="alert">Alert</div>
				<table ng-hide="error || !dataLoaded"
					class="GDtable dataTable display" my-table options="options">
					<colgroup>
							<col>
							<col>
							<col>
							<col>
						</colgroup>
					<thead class="ng-scope">
						<tr role="row">
							<th class="">Role</th>
							<th class="">Description</th>
							<th class="">Permissions</th>
							<th class="">Actions</th>
						</tr>
					</thead>
				</table>
				<a href="#" class="zoomThis"></a>
			</div>
	</div>
</div>
<div id="boxes" ng-controller="usersModalController" ng-if="isUsersViewable">

	<div id="editPermissionsDialog" class="window small-window">
		<div class="modalheading">
			<h2>Permission</h2>
			<a href="#" class="close"></a>
		</div>
		<div class="modalcontent">
		<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
		<div ng-if ="!error">
			<script type="text/ng-template" id="tree-node">
       			 <tr tt-node is-branch="node.children.length != 0">
	           		<td><span ng-bind="node.entity"></span></td>
            		<td class="center"><input type="checkbox" ng-checked="node.isEdit" data-entity="{{node.entityId}}" ng-dyn-bind-model="{{node.modelVar}}.isEdit" ng-change="checkBoxClicked('{{node.entityId}}', 'isEdit')"></td>
					<td class="center"><input type="checkbox" ng-checked="node.isView" data-entity="{{node.entityId}}" ng-dyn-bind-model="{{node.modelVar}}.isView" ng-change="checkBoxClicked('{{node.entityId}}', 'isView')"></td>
				 </tr>
    		</script>
			<table id="editPermissionsTable" tt-table
				tt-params="permissionValues" style="min-width: 150px;" class="GDtable">
				<colgroup>
					<col>
					<col>
					<col>
				</colgroup>
				<thead>
					<tr>
						<th>Entity</th>
						<th>Edit</th>
						<th>View</th>
					</tr>
				</thead>
			</table>
				<ng-include src="'partials/alertMessage.htm'"></ng-include>
			<input type="submit"
						value="Save" ng-disabled="savingUserRole" ng-class="{spinnerButton: savingUserRole==true}" class="btn btn-org rmargin"  ng-click="updatePermissions()" /> <input
						type="button" value="Cancel" class="btn btn-org cancel" href="#" />
			</div>
		</div>
	</div>
	<form name="addRoleForm">
		<div id="addRoleDialog" class="window small-window">
			<div class="modalheading">
				<h2>New Role</h2>
				<a href="#" class="close"></a>
			</div>
			<div class="modalcontent">
			<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
				<div>
				<div class="formgroup">
					<label class="rmargin">Role Name<span class="req">*</span></label>
					<input type="text" ng-model = "addRoleName" required/>
				</div>
				<div class="formgroup">
					<label class="rmargin">Description</label> <input type="text" ng-model = "addDescription"/>
				</div>
				<ng-include src="'partials/alertMessage.htm'"></ng-include>
				<div class="formgroup">
					<label class="rmargin">&nbsp;</label> 
					<input type="submit" value="Save" ng-disabled="savingUserRole" ng-class="{spinnerButton: savingUserRole==true}" ng-click ="addRole()" class="btn btn-org rmargin" href="#" /> <input
						type="button" value="Cancel" class="btn btn-org cancel" href="#" />
				</div>
			</div>
			</div>
		</div>
	</form>
	<form name="editRoleForm">
		<div id="editRoleDialog" class="window small-window">
			<div class="modalheading">
				<h2>Edit Role</h2>
				<a href="#" class="close"></a>
			</div>
			<div class="modalcontent">
			<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
			<div >
				<div class="formgroup">
					<label class="rmargin">Role Name<span class="req">*</span></label>
					<input type="text"  ng-model="roleName" required/>
				</div>
				<div class="formgroup">
					<label class="rmargin">Description</label>
					 <input type="text" ng-model="description" />
				</div>
				<ng-include src="'partials/alertMessage.htm'"></ng-include>
				<div class="formgroup">
					<label class="rmargin">&nbsp;</label> <input type="submit"
						value="Save" class="btn btn-org rmargin" href="#" ng-disabled="savingUserRole" ng-class="{spinnerButton: savingUserRole==true}" ng-click="editRoleSave()"/> <input
						type="button" value="Cancel" class="btn btn-org cancel" href="#" />
				</div>

			</div>
			</div>
		</div>
	</form>
	<div id="addUsersDialog" class="window small-window">
		<div class="modalheading">
			<h2>Add User</h2>
			<a href="#" class="close"></a>
		</div>
		<div class="modalcontent">
		<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
		<form name="userAddForm">
			<div  >
				<div class="formgroup">
					<label class="rmargin">User Name <span class="req">*</span></label><input
						type="text" ng-model="addUserName"required />
				</div>
				<div class="formgroup">
					<label class="rmargin">Password <span class="req">*</span></label>
					<input type="text" ng-model="addPassword" required />
				</div>
				<div class="formgroup">
					<label class="rmargin">First Name <span class="req">*</span></label>
					<input type="text" ng-model="addFirstName" required />
				</div>
				<div class="formgroup">
					<label class="rmargin">Last Name <span class="req">*</span></label>
					<input type="text" ng-model="addLastName" required />
				</div>
				<div class="formgroup">
					<label class="rmargin">Email ID <span class="req">*</span></label>
					<input type="email" ng-model="addEmailId" required />
				</div>
				<div class="formgroup">
					<label class="rmargin">Department</label> <input type="text" ng-model="addDepartment"/>
				</div>
				<div class="formgroup clearfix">
					<label class="rmargin">Role</label>
					<select  ng-model="addSelectedRole" ng-options="roles as roles for roles in roles" ></select>
				</div>
				<ng-include src="'partials/alertMessage.htm'"></ng-include>
				<div class="formgroup">
					<label class="rmargin">&nbsp;</label> <input type="submit"
						class="btn btn-org rmargin"  ng-disabled="savingUserList" ng-class="{spinnerButton: savingUserList==true}" ng-click="addUser()" href="#" value="Save" /><input
						type="button" value="Cancel" class="btn btn-org cancel" href="#" />
				</div>

			</div>
		</form>
		</div>
	</div>
	<div id="editUsersDialog" class="window small-window">
		<div class="modalheading">
			<h2>Edit User</h2>
			<a href="#" class="close"></a>
		</div>
		<div class="modalcontent">
		<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
		<form name="userListForm">
		<div>
				<div class="formgroup">
					<label class="rmargin">User Name <span class="req">*</span></label>
					<input type="text" ng-model="userName" required />
				</div>
				<!-- <div class="formgroup">
					<label class="rmargin">Password <span class="req">*</span></label>
					<input type="text" ng-model="password" required />
				</div> -->
				<div class="formgroup">
					<label class="rmargin">First Name <span class="req">*</span></label>
					<input type="text" ng-model="firstName" required />
				</div>
				<div class="formgroup">
					<label class="rmargin">Last Name <span class="req">*</span></label>
					<input type="text" ng-model="lastName" required />
				</div>
				<div class="formgroup">
					<label class="rmargin">Email ID <span class="req">*</span></label>
					<input type="email" ng-model="emailId" required />
				</div>
				<div class="formgroup">
					<label class="rmargin">Department</label> <input type="text"  ng-model="department"/>
				</div>
				<div class="formgroup clearfix">
					<label class="rmargin">Role</label> 
					<select  ng-model="selectedRole" ng-options="roles as roles for roles in roles" ></select>
				</div>
				<ng-include src="'partials/alertMessage.htm'"></ng-include>
				<div class="formgroup">
					<label class="rmargin">&nbsp;</label> <input type="submit"
						class="btn btn-org rmargin" ng-disabled="savingUserList" ng-class="{spinnerButton: savingUserList==true}" ng-click="usersEditSave()" href="#" value="Save" /><input
						type="button" value="Cancel" class="btn btn-org cancel" href="#" />
				</div>

			</div>
		</form>
		</div>
	</div>
	<div id="deleteUserDialog" class="window delete-window">
		<div class="modalheading">
			<h2>Delete Users</h2>
			<a href="#" class="close"></a>
		</div>
		<div class="modalcontent">
		<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
		<form >
			<h4 class="center">Are you sure to delete?</h4>
			<ng-include src="'partials/alertMessage.htm'"></ng-include>
			<div class="tmargin center">
				<input type="submit" value="Ok" ng-disabled="savingUserList" ng-class="{spinnerButton: savingUserList==true}" class="btn btn-org" href="#" ng-click="deleteUser()">
				<input type="button" class="btn btn-org cancel"
					href="#" value="Cancel">
			</div>
			</form>
		</div>
	</div>
	<div id="deleteRoleDialog" class="window delete-window">
		<div class="modalheading">
			<h2>Delete Roles</h2>
			<a href="#" class="close"></a>
		</div>
		<div class="modalcontent">
		<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
		<form >
			<h4 class="center">Are you sure to delete?</h4>
			<ng-include src="'partials/alertMessage.htm'"></ng-include>
			<div class="tmargin center">
				<input type="submit" value="Ok" ng-disabled="savingUserRole" ng-class="{spinnerButton: savingUserRole==true}" class="btn btn-org" href="#" ng-click="deleteRole()">
				<input type="button" class="btn btn-org cancel"
					href="#" value="Cancel">
			</div>
			</form>
		</div>
	</div>
	<div id="boxes">
		<div id="tableZoom" class="window">
			<div class="modalheading">
				<h2 id="h2"></h2>
				<a href="#" class="close"></a>
			</div>
			<div class="modalcontent"></div>
		</div>
	</div>	
	<div id="mask"></div>
	<div ng-controller="usersInit"></div>
</div>
