/*D3 Treemap */
.heatMapInnerwrap
{
    border:1px solid #b2e0ed;
    margin-right:10px;
    background-color:#cef3fb;
    display:block;
    overflow:hidden;
}
.heatMap1, .heatMap2 {
	height: 300px;
    margin: 0 auto;
    width: 430px;
}

.heatMap2,.heatMap1{
	margin-top:4%;
}
.floatingChart {
	
	position: relative;
	float: left;
	width: 70%;
	height:28%;
}
.smallChart {
	width: 30%;
	position: relative;
	float: left;
	height:28%;
}
.node 
{
  cursor:pointer;
  border: solid 1px white;
  font: 14px arial, sans-serif;
  color: white;
  line-height: 14px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  text-align: center;
}
.treeInnerText 
{
    cursor:pointer;
    position: absolute;
	top: 40%;
	left: 5%;
	pointer-events: none;
}
.heatMapBgOuter .high {
	background-color: #1AAA1A;
}
.heatMapBgOuter .medium {
	background-color: #35C735;
}
.heatMapBgOuter .low {
	background-color: #CB3030;
}
.heatMapBgOuter .low.transcend {
	background-color: #C65454;;
}
.heatMapBgOuter .high.transcend {
	background-color: #32B832;
}
.heatMapBgOuter .medium.transcend {
	background-color: #43D443;
}
.highlight {
	border: 2px solid;
    box-shadow: 0px 0px 7px #000;
    z-index: 999;
}
.heatmapHeading {
	bottom:10px;
	font-size: 14px; color: #525252; font-weight:500; font-family:'arial', sans-serif;
	margin-top: 63%;
	text-align:center;
	
}
div.heatMapTooltip {   
  opacity:0;
  position: absolute;           
  text-align: left;  
  border: 1px solid #32CABB !important;         
  width: 160px;                  
  height: 58px;                 
  padding: 8px;             
  font: 13px arial;        
  background: lightsteelblue;   
  border: 0px;      
  pointer-events: none;    
  z-index: 9999;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 4px #000;
}
div.heatMapTooltip h3
{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: -5px !important;
}
div.heatMapTooltip p:before
{
    content: "• ";
    color: #32CABB;
    font-size: 30px;
    position: relative;
    top: 6px;
    left: 1px;
}
div.heatMapTooltip p
{
    height: 17px;
}
.campaignChartPannel{
	height:250px;
}

.heatMapBg1,.heatMapBg2
{
    margin:0 auto;
}
 .heatMapwidth
 {
     width: 100%;
     display:block;
     overflow:hidden;
     float:left;
 }
 .heatMapBgOuter
{
    border:1px solid #b2e0ed;
    margin-right:10px;
    background: #cef3fb;
     display:block;
    overflow:hidden;
	height:350px;
	position: relative;
}
.heatMapBgOuter1
{
    border:1px solid #b2e0ed;
    background: #cef3fb;
    display:block;
    overflow:hidden;
	height:350px;
	position: relative;
}
 .heatmaptitle{
	font-size: 12px; color: #525252; font-weight:600; font-family:arial, sans-serif;margin:1%;position: absolute;top: 0px;
 }
 #heatMapTitle 
 {
     position: absolute;
    left: 0;
    top: 0;
 }
 #heatMapTitleVisits
 {
    position: absolute;
    right: 0;
    top: 0;
 }
.pull-right.heatmaptitle.low{
    background: url('../images/arrow-red.png') no-repeat left center;
    padding-left: 16px;
}
.pull-right.heatmaptitle.medium{
    background: url('../images/arrow_down_blue.png') no-repeat left center;
    padding-left: 16px;
}
.pull-right.heatmaptitle.high{
    background: url('../images/arrow-up-green.png') no-repeat left center;
    padding-left: 16px;
}