<h1 class="pull-left" ng-if="isReviewDOViewable">{{labelConstants.dw_reviewdo_title}}</h1>
<div id="contentContainer" ng-if="isReviewDOViewable">
	<div id="Decision">
		<div class="contentpannel reviewdo">
			<div class="chartPanel clearfix" ng-controller = "reviewChartController">
				<div class="chartPanelLeft">
					<h2>{{labelConstants.dw_reviewdo_waterfall_chart_title}}</h2>
					<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
					<a href="#" class="help tooltip-new">
						<figure>
							<img src="images/icon-info.png" />
						</figure> <span><img alt="Tooltip" src="images/tooltip-arrow.png"
							class="callout">{{Tooltip.TOOLTIP_DECISIONWB_REVPANEL_ACIVEUPLIFT}}</span>
					</a>
					<div id="reviewChart" class="clearfix" ng-show ="showReviewChart && error != true"></div>
				</div>
				<div class="chartPanelRight">
					<h2 class="move-left">{{labelConstants.dw_reviewdo_bubble_chart_title}}</h2>
					<a href="#" class="help tooltip-new">
						<figure>
							<img src="images/icon-info.png" />
						</figure> <span><img alt="Tooltip" src="images/tooltip-arrow.png"
							class="callout">{{Tooltip.TOOLTIP_DECISIONWB_REVPANEL_TIMECOSTCOMP}}</span>
					</a>
					
					<div class="clearfix right"><ng-include ng-show="error" src="'partials/error.htm'"></ng-include><div id="reviewBubbleChart" ng-show ="showReviewChart && error != true"></div>
					</div>
				</div>
			</div>
			<div ng-controller="reviewDoTableController" class="ContainerBox decision-option">
				<article class="title_panel clearfix">
					<p class="pull-left">
						<span>{{labelConstants.dw_reviewdo_decision_options_title}}</span>
					</p>
				</article>
				<div class="contentPanel-filter" ng-controller="filterOuterController">
							<ng-include src="'app/DecisionWorkbench/filter.htm'"></ng-include>
				</div>
				<div
					class="tab_container tab_container_table contentPanel review-panel">
					<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
					<ng-include ng-show="error" src="'partials/error.htm'" class="forChart"></ng-include>
					<div ng-hide="error || !dataLoaded" id="tab3" class="tab_content" style="display: block;">
						<div class="contentScroll-disabled">
                        	<table class="reviewDOtable GDtable" table-data="tableFunctions" my-table options="options" other-data="reviewData">
								<colgroup>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
								</colgroup>
								<thead>
									<tr>
										<th>DO No.</th>
										<th>New Subs/ Conversion Uplift</th>
										<th>Conversion Activity</th>
										<th>User Group</th>
										<th>Channels</th>
										<th>Users Targeted</th>
										<th>Cost</th>
										<th>Campaign Duration</th>
										<th>Activate</th>
										<th>Responsibility</th>
										<th>Approval Status</th>
										<th>Actions</th>
									</tr>
								</thead>
							</table>
							<a href="#" class="zoomThis"></a>
						</div>
					</div>
					<div class="clearfix clearboth buttons">
						<a class="btn btn-org pull-right" href="#">Execute</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!----------------------------Modal Window----------------->
<div id="boxes" ng-controller="reviewdoModalController" ng-if="isReviewDOViewable">
	<form name="modifyReviewDoForm">
		<div id="modifyReviewdoDialog" class="window edit-window">
			<div class="modalheading">
				<h2>Edit</h2>
				<a href="#" class="close"></a>
			</div>
			<div class="modalcontent width">
				<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
				<div>
					<div class="modalcontent">
						<table id='reviewDOEdit'>
							<thead>
								<tr>
									<th>DO No.</th>
									<th>Channel</th>
									<th>Cost</th>
									<th>Duration</th>
								<tr>
							</thead>
							<tbody>
								<tr ng-repeat="id in editDoId">
									<td>{{id}}</td>
									<td>{{channels[$index]}}</td>
									<td><input type="number" value="{{costs[$index]}}"></td>
									<td><input type="number" value="{{campaignDurations[$index]}}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modifyListBtn">
						<input type="submit" value="Save" class="btn btn-org"
							rel="filters" ng-disabled="savingDO"
							ng-class="{spinnerButton: savingDO==true}"
							ng-click="saveReviewCost()">
						 <a class="btn left btn-org acc_link cancel" rel="filters">Accept
							Original</a>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div id="responsibiltyModal" class="window">
		<div class="modalheading">
			<h2>Activate</h2>
			<a href="#" class="close"></a>
		</div>
		<div class="modalcontent">
		<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
            <div class="approverWrapper">
			    <li>No. of Approvers </li> 
			    <select ng-model='noOfApprovers' ng-options="period as period for period in MAX_APPROVERS">
			    </select>
			</div>
            <ul class="approversList">
				<li ng-repeat="index in MAX_APPROVERS" ng-if="index <= noOfApprovers"><li> Approver {{index}}</li> <input type="text" class="approver" id="approver{{index}}"></li>
			</ul>
			<ul class="approversList responsibilityList" >
				<li><li> Responsibility &nbsp;&nbsp;&nbsp;</li><li> <input
					type="text" id="responsibility"></li>
			</ul>
			<ng-include src="'partials/alertMessage.htm'"></ng-include>
			<div class="modifyListBtn">
				<a class="btn btn-org acc_link activate" rel="filters" ng-click="saveApprovers()">Activate</a>
			</div>
		</div>
	</div>
	<div id="tableZoom" class="window">
		<div class="modalheading">
			<h2>Decision Options</h2>
			<a href="#" class="close"></a>
		</div>
		<div class="modalcontent"></div>
	</div>
	<div id="mask"></div>
</div>
<div ng-hide ng-controller="reviewDoInit"></div>