<header class="headerContainer clearfix">
	<div class="Container">
		<div class="logo">
			<figure>
				<img src="images/logo.png" alt="D-ASSIST $ CONVERTER"
					title="D-ASSIST $ CONVERTER" />
			</figure>
		</div>
		<div class="loginContainer">
			<ul>
				<li>
					<div title="Notifications" class="icon-email">&nbsp;</div>
					<div title="Notifications" class="emailNotifications">3</div>
				</li>
				<li>
					<div title="Tag a Colleague" class="icon-user">&nbsp;</div>
					<div class="popup">
						<div class="popuparrow"></div>
						<h2>Tag a Colleague</h2>
						<div class="popupcontainer">
							<div class="clearfix">
								<h3>Select Action</h3>
								<label><input type="checkbox" class="vm" /> Tag User</label>
								<label><input type="checkbox" class="vm" /> Email</label>
								<h3 class="toppadding">Tag User</h3>
								<select>
									<option>James</option>
									<option>Option 1</option>
									<option>Option 2</option>
								</select>
								<a href="" class="btn">Add</a>
								<div class="optioncontainer clearfix">
									<span class="optionbox">Amanda <a href="" class="pull-right" ><img src="images/close.png" /></a></span>
									<span class="optionbox">Carl <a href="" class="pull-right" ><img src="images/close.png" /></a></span>
									<a href="" class="overallclose"><img src="images/close.png" /></a>
								</div>
								<h3 class="toppadding">Email to</h3>
								<select>
									<option>mark.stinson@gmail.com</option>
									<option>Option 1</option>
									<option>Option 2</option>
								</select>
								<a href="" class="btn">Add</a>
								<div class="optioncontainer clearfix">
									<span class="optionbox">james.c@yahoomail.com <a href="" class="pull-right" ><img src="images/close.png" /></a></span>
									<a href="" class="overallclose"><img src="images/close.png" /></a>
								</div>
								<div class="pull-right toppadding submit">
									<a href="" class="btn">Save</a>
									<a href="" class="btn-org">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div title="Chat" class="icon-chat">&nbsp;</div>
					<div class="popup">
						<div class="popuparrow"></div>
						<h2>Chat</h2>
						<div class="popupcontainer zeropadding">
							<div class="searchbox">
								<div class="clearfix chat bottompadding leftmargin">
									<img src="images/chatimage1.png" alt="" class="" />
									<h3>John Smith</h3>
								</div>
								<input type="text" class="search" />
							</div>
							<ul class="chatoption">
								<li>
									<div class="clearfix chat">
										<img src="images/chatimage1.png" alt="" class="" />
										<div class="contentarea">
											<h3>Jack Williams</h3>
											<p>Marketing Head - Product X</p>
										</div>
										<div class="chatoptions">
											<a href=""><img src="images/chat.png" /></a>
											<a href=""><img src="images/message.png" /></a>
										</div>
									</div>
								</li>
								<li>
									<div class="clearfix chat">
										<img src="images/chatimage2.png" alt="" class="" />
										<div class="contentarea">
											<h3>Linda Williams</h3>
											<p>Marketing Head - Product Y</p>
										</div>
										<div class="chatoptions">
											<a href=""><img src="images/chat.png" /></a>
											<a href=""><img src="images/message.png" /></a>
										</div>
									</div>
								</li>
								<li>
									<div class="clearfix chat">
										<img src="images/chatimage3.png" alt="" class="" />
										<div class="contentarea">
											<h3>Jack Williams</h3>
											<p>Marketing Manager - Product X</p>
										</div>
										<div class="chatoptions">
											<a href=""><img src="images/chat.png" /></a>
											<a href=""><img src="images/message.png" /></a>
										</div>
									</div>
								</li>
								<li>
									<div class="clearfix chat">
										<img src="images/chatimage1.png" alt="" class="" />
										<div class="contentarea">
											<h3>David Luiz</h3>
											<p>Marketing Manager - Product Y</p>
										</div>
										<div class="chatoptions">
											<a href=""><img src="images/chat.png" /></a>
											<a href=""><img src="images/message.png" /></a>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="popupcontainer clearfix hide">
							<h3 class="zeromargin">John Smith Chat with Jack Williams </h3>
							<p><a href="" class="link">24 May 2014, 11:20AM</a></p>
							<div class="clearfix chatcontainer">
								<img src="images/chatimage1.png" alt="" class="" />
								<div class="contentarea">
									<a class="arrowpointer"></a>
									<p class="clearfix color1">Jack Williams<span class="pull-right">11:28 AM</span></p>
									<p>Hi Linda,<br /> Did you go through weekly sales report?</p>
								</div>
							</div>
							<div class="clearfix chatcontainer reverse">
								<div class="contentarea">
									<a class="arrowpointer"></a>
									<p class="clearfix color2">John Smith<span class="pull-right">11:28 AM</span></p>
									<p>Hey Jack, <br /> I have gone throught the report and found Product X sales has gone 2% up frpm last week</p>
								</div>
								<img src="images/chatimage1.png" alt="" class="" />
							</div>
							<div class="clearfix chatcontainer reverse">
								<div class="contentarea">
									<a class="arrowpointer"></a>
									<p class="clearfix color2">John Smith<span class="pull-right">11:28 AM</span></p>
									<p>Product Y sales has also gone 3% up <br /> from last week. Please see the link <a href="">http://absolutdata.mybalsmig.com</a></p>
								</div>
								<img src="images/chatimage1.png" alt="" class="" />
							</div>
							<div class="textarea"><textarea></textarea><a href="" class="submit"><img src="images/submit.png" /></a></div>
						</div>
					</div>
				</li>
				<li class="border">
					<div class="loginContainer loginContainer1">
						<div class="loginLabel">John Smith</div>
						<div id="firstpane" class="LogoutContainer">
							<ul>
								<li class="Logout Logout-header">
									<ul>
										<li><a href="change-password.htm" class="Logout" title="Change Password">Change
												Password</a></li>
										<li><a  class="Logout" title="Logout" ng-click="logout()">Logout</a></li>
										<li class="arrow1"></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</header>
<script>
	var link = $('.icon-user, .icon-chat');
	link.click(function(){
		if($(this).hasClass('clicked')){
			$('.popup').removeClass('open');
			link.removeClass('clicked');
			return;
		}
			
		$('.popup').removeClass('open');
		$(this).next('.popup').toggleClass('open');
		link.removeClass('clicked')
		$(this).toggleClass('clicked')
	})
	$('.chatoption li').click(function(){
		$('.hide').toggle();
	})
</script>